//FONT
$font-default: "Nunito";

//BACKGROUNDS
$bg-general: #fefeff;
$bg-primary: #9c7300;                        // Buttons and Title colors
$bg-primary-light: #9c7300;                  // Buttons and Title colors
$bg-secondary: #000;
$bg-third: #121214;                          // Footer Color
$bg-muted: #8492a6;

//TEXT
$text-default: #3c4858;                       // General Title color
$text-slider-header: #f1d969;                    // Slider Title
$text-slider-paragraph: #fff;                 // Slider paragraph

$text-primary: #9c7300;
$text-muted: #8492a6;                         // Gerneral Paragraph colors
$text-light: #f8f9fc;                         //Títulos do Footer e etc
$text-dark: #212529;

//EXTRA
$bg-btn-telefone: #5cb85c;                    //Botão Telefone
$text-btn-telefone: #fff;                     //Texto Botão Telefone
$bg-btn-cotar: #f1d969;                       //Botão Cotar
$text-btn-cotar: rgb(53, 53, 53);                        //Texto Botão Cotar