.list-group-item:not(.active):hover {
    background: var(--bg-primary);
}

.list-group-item.active{
    background: var(--bg-primary) !important;
    border-color: var(--bg-primary) !important;
}

.list-group-item:hover a {
    color: #fff;
}

@media (max-width: 576px){  
.list-map{width: 100% !important};
}