
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    font-weight: 700;
}

.form-group .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: var(--bg-general);
    border: 1px solid #dee2e6;
   color: var(--text-default);
    height: 42px;
    font-size: 13px;
    border-radius: 6px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-group .form-control:focus,
.form-group .form-control.active {
    border-color: var(--bg-primary);
}

.form-group textarea {
    height: 120px !important;
}

.form-group textarea.form-control {
    line-height: 25px;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}

.custom-control-input:checked~.custom-control-label:before {
    color: #ffffff;
    border-color: var(--bg-primary);
    background-color: var(--bg-primary);
}

.custom-control-input:focus~.custom-control-label::before,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: var(--bg-primary);
}

.custom-control-label {
    cursor: pointer;
}

.custom-control-label:before,
.custom-control-label:after {
    top: 2px;
}

.custom-switch .custom-control-label:after {
    top: 4px;
}

.subcribe-form input {
    padding: 14px 20px;
    width: 100%;
   color: var(--text-default) !important;
    border: none;
    outline: none !important;
    padding-right: 160px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.subcribe-form button {
    position: absolute;
    top: 6px;
    right: 6px;
    outline: none !important;
}

.subcribe-form form {
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}