#style-switcher {
    background: none repeat scroll 0 0 #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    left: -189px;
    position: fixed;
    top: 17%;
    width: 189px;
    z-index: 9999;
    padding: 10px 5px;
}
#style-switcher .title {
    font-size: 16px;
}
#style-switcher .bottom {
    background: none repeat scroll 0 0 #ffffff;
}
#style-switcher .bottom a.settings {
    background: none repeat scroll 0 0 #ffffff;
    height: 41px;
    position: absolute;
    right: -41px;
    top: 0px;
    width: 40px;
    padding: 3px;
    border-radius: 0 30px 30px 0;
}
#style-switcher ul.pattern {
    list-style: none outside none;
    overflow: hidden;
    padding: 0;
    border-radius: 0px;
}
#style-switcher ul.pattern li.list-inline-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 0;
}
#style-switcher ul.pattern li a {
    cursor: pointer;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 3px;
}
#style-switcher ul.pattern .default {
    background-color: var(--bg-primary);
}
#style-switcher ul.pattern .green {
    background-color: #6dc77a;
}
#style-switcher ul.pattern .red {
    background-color: #ff5b69;
}
#style-switcher ul.pattern .skyblue {
    background-color: #32c2ec;
}
#style-switcher ul.pattern .skobleoff {
    background-color: #0f7173;
}
#style-switcher ul.pattern .cyan {
    background-color: #00c9a7;
}
#style-switcher .t-dark,
#style-switcher .t-rtl-light {
    display: inline-block;
}
#style-switcher .t-ltr-light,
#style-switcher .t-light,
#style-switcher .t-rtl-dark,
#style-switcher .t-ltr-dark {
    display: none;
}
@media only screen and (max-width: 479px) {
    #style-switcher {
        display: none;
    }
}